DirectoryIndex index.php

RewriteEngine On

# Ensure HTTPS redirection
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Allow POST requests for PHP files
<FilesMatch "\.php$">
    <IfModule mod_rewrite.c>
        RewriteCond %{REQUEST_METHOD} POST
        RewriteRule ^ - [L]
    </IfModule>
</FilesMatch>

Options +MultiViews
